/* --- Classes --- */
.App {
  position: relative;
  top: 0;
  left: 0;
}
.anchorLink {
  text-decoration: none;
  color: #066988;
  cursor: pointer;
}
.menuItem a {
  padding: 10px 15px !important;
}
#nav-menu .menuItem:last-child {
  padding: 10px 0 0px 30px;
}
.subMenuItem {
  font-size: 0.9rem !important;
  padding: 15px !important;
}

.MuiFormLabel-root,
.spacingBlock {
  background-color: rgba(200, 225, 225, 0.25);
}

/* Transitions & Animations */

.image {
  /* display: block;
  margin: 50px auto;
  max-width: 100%;
  height: auto; */
  opacity: 0;
  transform: scale(0) translateZ(0);
  transition: opacity 2s, transform 2s;
  will-change: opacity, transform;
}

.image-enter-active {
  opacity: 1;
  transform: scale(1) translateZ(0);
}

/* --- Overridden Component Classes --- */
.css-1fdsijx-ValueContainer {
  padding: 16px 50px !important;
}
.MuiFormControl-root {
  width: 96%;
}
.MuiFormHelperText-root {
  color: red !important;
  font-size: 1rem !important;
}

@media (min-width: 500px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%);
  }
  .carousel-control-prev-icon {
    transform: translate(-25%, 0%);
  }
  .carousel-control-next-icon {
    transform: translate(25%, 0%);
  }
}
@media (min-width: 1024px) {
  .carousel-control-prev-icon {
    transform: translate(-150%, 0%);
  }
  .carousel-control-next-icon {
    transform: translate(150%, 0%);
  }
}

/* --- Html Elements--- */
main {
  display: grid;
}
input:required,
textarea:required,
#select_services {
  border: 1px solid #555 !important;
}
body {
  margin-bottom: 50px;
}
header {
  position: sticky;
  z-index: 100000;
  color: #ca4766;
  top: 0;
  background: white;
  padding: 1% 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main {
  padding: 2%;
  /* background-color: rgba(255, 255, 255, 0.25); */
  background-color: rgba(200, 225, 225, 0.25);
}

footer {
  text-align: center;
  position: fixed;
  z-index: 9999;
  height: 75px;
  background-color: rgba(62, 152, 180, 0.9);
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  padding: 5px 0 15px 0;
}
footer:hover {
  @media screen {
    background-color: rgb(62, 152, 180);
  }
}
