/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.staff {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: white;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 2rem;
  width: 94vw;
  max-width: 68rem;
  margin: 0 auto;
}

.staff_header {
  position: relative;
  margin: 0 auto;
  height: 12rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 2rem 2rem 4rem 0;
  background-image: url("../../assests/images//love_hand_gesture/love_hand_gesture_500px.jpg");
  background-position: top 20% left;
  background-size: cover;
}
.staff_member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.staff_member1 {
  margin-bottom: 4rem;
}
.staff_member1_img {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.staff_member2_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.staff_img_background {
  height: 15rem;
  width: 15rem;
  background-color: rgba(70, 150, 255, 0.3);
  border: 1px solid rgba(70, 150, 255, 0.6);
  border-radius: 1rem;
  opacity: 0.5;
}
.staff_member_text {
  color: rgba(100, 150, 255, 1);
}
.staff_member_desciption {
  color: #999;
}

@media (min-width: 30rem) {
  .staff_header {
    height: 15rem;
    background-position: top 10% left;
    background-image: url("../../assests/images//love_hand_gesture/love_hand_gesture_800px.jpg");
  }
}
@media (min-width: 40rem) {
  .staff_member {
    gap: 2rem;
  }
  .staff_member1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .staff_member2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .staff_member1_img {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .staff_member2_img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 2rem;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}

@media (min-width: 49rem) {
  .staff_header {
    height: 19rem;
  }
  .staff_header {
    background-image: url("../../assests/images//love_hand_gesture/love_hand_gesture_1024px.jpg");
  }
}
@media (min-width: 63rem) {
  .staff_header {
    height: 23rem;
  }
  .staff_header {
    background-image: url("../../assests/images//love_hand_gesture/love_hand_gesture-1500px.jpg");
  }
}
