.corevalues {
  justify-self: center;
  display: grid;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  background-color: white;

  text-align: center;
}
.corevalue {
  display: flex;
  justify-items: space-between;
  align-items: center;
  gap: 0.5rem;
}
.corevalue:nth-of-type(2) {
  flex-direction: row-reverse;
}
.corevalue_icon {
  display: block;
  margin: 0 auto;
  width: auto;
  max-height: auto;
  max-width: 40%;
}
.corevalue_section {
  width: 60%;
  margin: 0 auto;
  border-bottom: 10px dotted pink;
  padding-bottom: 10px;
}

@media (min-width: 50rem) {
  .corevalues {
    height: 25rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 67.5rem;
    padding: 1rem;
    margin-top: 7rem;
  }
  .corevalue {
    display: block;
  }

  .corevalue_icon {
    max-width: 50%;
  }
  .corevalue_section {
    width: 100%;
    margin: 0 auto;
    border-bottom: none;
    padding-bottom: 0;
  }
}
